/.ASOSFileGenerator.java._trace
/.ASOSFileGenerator.xtendbin
/.AdaptSemGenerator.java._trace
/.AdaptSemGenerator.xtendbin
/.AdaptationProcessGenerator.java._trace
/.AdaptationProcessGenerator.xtendbin
/.NamingUtils.java._trace
/.NamingUtils.xtendbin
/.RuleUtils.java._trace
/.RuleUtils.xtendbin
/ASOSFileGenerator.java
/AdaptSemGenerator.java
/AdaptationProcessGenerator.java
/NamingUtils.java
/RuleUtils.java
