/.ConfigurationComparator.java._trace
/.ConfigurationComparator.xtendbin
/.PatternCheckerCompiler.java._trace
/.PatternCheckerCompiler.xtendbin
/.RefConfigurationCompiler.java._trace
/.RefConfigurationCompiler.xtendbin
/.RuleCompiler.java._trace
/.RuleCompiler.xtendbin
/.SymbolResolver.java._trace
/.SymbolResolver.xtendbin
/ConfigurationComparator.java
/PatternCheckerCompiler.java
/RefConfigurationCompiler.java
/RuleCompiler.java
/SymbolResolver.java
